body{
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: darkgrey;
}

/* heading */
#title{
    background-color: #f17588;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* nav bar */
.navbar{
    padding:0 0 4.5rem 0;
}

.nav-item{
    padding: 0 18px;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

/* feature section */
#features{
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
   
}

.feature-box{
    padding: 5%;
}

.icon{
    color: #f17588;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonials */
#testimonials{
    text-align: center;
    background-color: #f17588;
    color: white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
}

.testimonial-text{
    line-height: 1.5;
    font-size: 3rem;
}

#press{
    background-color: #f17588;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo{
    width: 15%;
    margin: 5% 5% 5% 0;
}

.carousel-item{
    padding:7% 15%;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}

.section-heading{
    line-height: 1.5;
    font-size: 3rem;
}

.pricing-col{
    padding: 3% 2%;
    text-align: center;
}

.price-text{
    line-height: 1.5;
    font-size: 3rem;
}

/* call to action */
#cta{
    background-color: #f17588;
    text-align: center;
    color: #fff;
    padding: 8% 10% 6%;
}

/* footer */
#footer{
    text-align: center;
    padding: 8% ;
}

.footer-logo{
    margin: 2px 10px;
    color: black;
}